# Exportando CSV

### Vamos pegar o nosso dataframe novamente

In [1]:
import pandas as pd
#importando os arquivos
vendas_df = pd.read_csv(r'22-Pandas\CSV\Contoso - Vendas - 2017.csv', sep=';')
produtos_df = pd.read_csv(r'22-Pandas\CSV\Contoso - Cadastro Produtos.csv', sep=';', encoding='utf-8')
lojas_df = pd.read_csv(r'22-Pandas\CSV\Contoso - Lojas.csv', sep=';')
clientes_df = pd.read_csv(r'22-Pandas\CSV\Contoso - Clientes.csv', sep=';')

#limpando apenas as colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#mesclando e renomeando os dataframes
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail': 'E-mail do Cliente'})
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail do Cliente
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1,SV DVD 55DVD Storage Binder M56 Black,Loja Contoso North America Reseller,cshawd4@technorati.com
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1,"The Phone Company Touch Screen Phones 26-2.2"" ...",Loja Contoso Tehran No.2,kgorriekd@bandcamp.com
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1,Contoso Touch Screen Phones - CRT M11 Black,Loja Contoso Singapore,angela49@adventure-works.com
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1,Contoso SLR Camera M146 Orange,Loja Contoso Grand Prairie,jacob4@adventure-works.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,980638,31/12/2017,31/12/2017,0,194,2490,4,10353,120,0,Contoso Rubberized Skin BlackBerry E100 White,Loja Contoso Ridgely,ocrosson9u@illinois.edu
980638,980639,31/12/2017,06/01/2018,6,32,2488,4,31750,120,0,Contoso Rubberized Skin BlackBerry E100 Black,Loja Contoso Milliken,victor11@adventure-works.com
980639,980640,31/12/2017,03/01/2018,3,210,2511,10,12003,80,0,Contoso Original K1m Li-Ion Standard Battery E...,Loja Contoso Cheshire,mtopaz4@gmpg.org
980640,980641,31/12/2017,31/12/2017,0,53,436,4,25550,39,0,Adventure Works Desktop PC1.80 ED180 White,Loja Contoso East Troy,lance5@adventure-works.com
980641,980642,31/12/2017,31/12/2017,0,309,2510,10,28707,80,0,Contoso Original K1m Li-Ion Standard Battery E...,Loja Contoso Europe Reseller,jan8@adventure-works.com

In [2]:
vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980642 entries, 0 to 980641
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  object
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
 10  Nome do Produto       980642 non-null  object
 11  Nome da Loja          980642 non-null  object
 12  E-mail do Cliente     980642 non-null  object
dtypes: int64(8), object(5)
memory usage: 97.3+ MB

### Agora, e se quisermos acrescentar uma coluna com o mÃªs, o dia e o ano de cada venda (e nÃ£o sÃ³ a data completa)

In [3]:
vendas_df['Data da Venda'] = pd.to_datetime(vendas_df['Data da Venda'], format='%d/%m/%Y')
vendas_df['Data do Envio'] = pd.to_datetime(vendas_df['Data do Envio'], format='%d/%m/%Y')
vendas_df['Ano da Venda'] = vendas_df['Data da Venda'].dt.year
vendas_df['Mes da Venda'] = vendas_df['Data da Venda'].dt.month
vendas_df['Dia da Venda'] = vendas_df['Data da Venda'].dt.day
vendas_df.tail()

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail do Cliente,Ano da Venda,Mes da Venda,Dia da Venda
980637,980638,2017-12-31,2017-12-31,0,194,2490,4,10353,120,0,Contoso Rubberized Skin BlackBerry E100 White,Loja Contoso Ridgely,ocrosson9u@illinois.edu,2017,12,31
980638,980639,2017-12-31,2018-01-06,6,32,2488,4,31750,120,0,Contoso Rubberized Skin BlackBerry E100 Black,Loja Contoso Milliken,victor11@adventure-works.com,2017,12,31
980639,980640,2017-12-31,2018-01-03,3,210,2511,10,12003,80,0,Contoso Original K1m Li-Ion Standard Battery E...,Loja Contoso Cheshire,mtopaz4@gmpg.org,2017,12,31
980640,980641,2017-12-31,2017-12-31,0,53,436,4,25550,39,0,Adventure Works Desktop PC1.80 ED180 White,Loja Contoso East Troy,lance5@adventure-works.com,2017,12,31
980641,980642,2017-12-31,2017-12-31,0,309,2510,10,28707,80,0,Contoso Original K1m Li-Ion Standard Battery E...,Loja Contoso Europe Reseller,jan8@adventure-works.com,2017,12,31

In [4]:
vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980642 entries, 0 to 980641
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  datetime64[ns]
 2   Data do Envio         980642 non-null  datetime64[ns]
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
 10  Nome do Produto       980642 non-null  object
 11  Nome da Loja          980642 non-null  object
 12  E-mail do Cliente     980642 non-null  object
 13  Ano da Venda          980642 non-null  int32
 14  Mes da Venda          980642 non-null  int32
 15  Dia da Venda          980642 non-null  int32
dtypes: datetime64[ns](2), int32(3), int64(8), object(3)
memory usage: 108.5+ MB

### E agora, exportar CSV

In [5]:
vendas_df.to_csv(r'22-Pandas\saidas\Novas Vendas 2017.csv', sep=';')

In [6]:
vendas_df.iloc[40]

Numero da Venda                                                        41
Data da Venda                                         2017-01-01 00:00:00
Data do Envio                                         2017-01-05 00:00:00
ID Canal                                                                4
ID Loja                                                               127
ID Produto                                                            660
ID Promocao                                                             2
ID Cliente                                                          30065
Quantidade Vendida                                                      9
Quantidade Devolvida                                                    0
Nome do Produto         Proseware Color Ink Jet Fax, Copier, Phone M25...
Nome da Loja                                    Loja Contoso Poestenkill
E-mail do Cliente                             latoya4@adventure-works.com
Ano da Venda                                                         2017
Mes da Venda                                                            1
Dia da Venda                                                            1
Name: 40, dtype: object

### Criando um dicionÃ¡rio, transformando o dicionÃ¡rio em um DataFRame e Exportando para CSV

In [8]:
vendas_produtos = {'iphone': [5123, 1234], 'galaxy': [4123, 4535], 'ipad':[6123, 723], 'tv':[613, 73], 'kindle':[613, 73]}

vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos)
vendas_produtos_df

   iphone  galaxy  ipad   tv  kindle
0    5123    4123  6123  613     613
1    1234    4535   723   73      73

In [9]:

vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos, orient='index')
vendas_produtos_df

           0     1
iphone  5123  1234
galaxy  4123  4535
ipad    6123   723
tv       613    73
kindle   613    73

In [10]:
vendas_produtos_df = vendas_produtos_df.rename(columns={0: '2019', 1:'2020'})
vendas_produtos_df

        2019  2020
iphone  5123  1234
galaxy  4123  4535
ipad    6123   723
tv       613    73
kindle   613    73

In [11]:
vendas_produtos_df.to_csv(r'22-Pandas\saidas\Vendas Produtos.csv', sep=';')